<appSettings>
  
  <!-- Users will be redirected here after a client update -->
  <add key="UpdateUrl" value="https://www.clashofmagic.net/" />
  
  <!-- Patch URL - Disabled if blank -->
  <add key="PatchUrl" value="http://192.168.0.11/" />
  
  <!-- Clash of Clans Client Version -->
  <add key="ClientVersion" value="9.105"/>
  
  <!-- False = Pepper -->
  <add key="UseRC4" value="true" />
  
  <!-- No Log = 0, Full Log = 1, Log only = 2 -->
  <add key="LogLevel" value="0"/>
  
  <!-- No Log = 0, Full Log = 1, Log only = 2 -->
  <add key="Verbosity" value="2"/>
  
  <!-- 00:00:00 = No Restart, must be higher than 00:01:00. -->
  <add key="RestartInterval" value="01:01:00" />
  
  <!-- Enables Discord Bot -->
  <add key="UseDiscord" value="false" />
  
  <!-- Discord Bot Prefix -->
  <add key="DiscordPrefix" value="~" />
  
  <!-- Discord Bot Token -->
  <add key="DiscordToken" value="MzQ5MTYwNDM5Mjc3NTUxNjE5.DHxcjw.86ZDIW9378bIxguBkHoolpTQxPc" />

  <!-- Discord Bot Server Name -->
  <add key="DiscordServerName" value="Clash of Magic S1" />
  
</appSettings>