<appSettings>
  <add key="UpdateUrl" value="http://192.168.0.11/" />
  <add key="PatchUrl" value="http://192.168.0.11/" />
  <add key="ClientVersion" value="9.105"/>

  <!-- Default Crypto is Pepper -->
  <add key="use_rc4" value="true" />
  <!-- Default for no log = 0, for Full Log = 1, Log only = 2 -->
  <add key="log_level" value="0"/>
  
  <!-- Restart Interval (Sample: 03:00:00 [hours:minutes:seconds] and can not be more than 24 hours!) -->
  <add key="RestartInterval" value="00:00:00" />

</appSettings>
