<appSettings>
  
  <!-- Path to UCS (TIP: If UCS.exe isn't in this directory, you can do like this: C:\Users\Username\Desktop\ucs\ucs.exe) -->
  <add key="Path2UCS" value="UCS.exe" />
  
  <!-- Restart Interval (Sample: 03:00:00 [hours:minutes:seconds] and can not be more than 24 hours!) -->
  <add key="RestartInterval" value="03:00:00" />
  
</appSettings>