<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.0.7" targetFramework="net47" />
  <package id="Facebook" version="7.0.6" targetFramework="net47" />
  <package id="Google.Apis" version="1.32.0" targetFramework="net47" />
  <package id="Google.Apis.Auth" version="1.32.0" targetFramework="net47" />
  <package id="Google.Apis.Core" version="1.32.0" targetFramework="net47" />
  <package id="Google.Apis.Games.v1" version="1.32.0.1071" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net47" />
  <package id="MongoDB.Bson" version="2.5.0" targetFramework="net47" />
  <package id="MongoDB.Driver" version="2.5.0" targetFramework="net47" />
  <package id="MongoDB.Driver.Core" version="2.5.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NLog" version="4.4.12" targetFramework="net47" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net47" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net47" />
</packages>